
@model dynamic  

@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Filmweb </h1>
        <p class="lead">Najwieksza baza serialów i filmów w sieci</p>




        <h2>Lista Seriali </h2>


        <ul class="actors">

            @foreach (var item in Model.Series)
            {
                <li>
                    <div>


                        <a href="@Url.Action("Details"+"/"+item.ID, "Series")">
                            <img class="actor-image" src="~/Obrazki/@item.Obrazek">
                            <a />
                    </div>


                    

                </li>
            }
        </ul>

        <h2>Lista filmów</h2>


        <ul class="actors">

            @foreach (var item in Model.Movies)
            {
                <li>
                    <div>


                        <a href="@Url.Action("Details"+"/"+item.ID, "Movies")">
                            <img class="actor-image" src="~/Obrazki/@item.Obrazek">
                            <a/>
                    </div>


                    

                </li>
            }
        </ul>


    </div>

